html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/expo.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  height: 330px;
}

.card {
  background-color: rgba(34, 27, 27, 0.6);
  padding: 20px;
  text-align: left;
  width: 50%;
}

.content-container {
  display: flex;
  align-items: stretch;
  height: 100%;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

a.button {
  display: inline-block;
  background-color: #f3c912;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
  transition: 0.3s;
}

a.button:hover {
  background-color: black;
}
/* media quierie for responsivenes*/

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(35, 49, 45);
  color: white;
  padding: 20px;
  margin: 20px auto 40px;
  max-width: 80%;
}

.card-content {
  display: flex;
  max-width: 800px;
}

.text-content {
  position: relative;
}

.text-content h2,
.text-content h6 {
  text-align: center;
}

.text-content ul {
  list-style: none;
  border-left: 2px solid grey;
  padding-left: 20px;
  margin: 0;
}

.text-content ul li {
  position: relative;
  padding-left: 10px;
}

.text-content ul li::before {
  content: ".";
  position: absolute;
  left: -20px;
  top: 50%;
  width: 10px;
  height: 2px;
  transform: translateY(-50%);
}

.text-content ul li:first-child::before,
.text-content ul li:last-child::before {
  background: transparent;
}

.card-content img {
  float: right;
  max-width: 40%;
  height: auto;
}
