html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  display: flex;
  align-items: center;
  background-image: url(/expo.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}
.hero-heading {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: left;
}
.hero-content {
  display: flex;
  flex-direction: column;
  background-color: rgba(34, 27, 27, 0.6);
  padding: 20px;
  text-align: left;
  width: 50%;
  height: 100%;
}
.hero-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.button {
  display: inline-block;
  background-color: #f3c912;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
  transition: 0.3s;
}

.button:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: black;
}
/* media quierie for responsivenes*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(35, 49, 45);
  color: white;
  padding: 2rem;
  margin: 20px auto 40px;
  max-width: 80%;
}

.container-heading {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0;
}
.event {
  background-color: #f3f3f3;
  padding: 1.5rem;
  color: rgb(48, 47, 47);
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: 0;
  margin-top: 1rem;
}
.card-img-container {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img {
  width: 100%;
  height: 100%;
}

.event-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
.sub-heading {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
.event-heading {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.event-list {
  margin: 0;
  text-decoration: underline;
}
// .container-card {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 10px;
//   background-color: rgb(35, 49, 45);
//   color: white;
//   padding: 20px;
//   margin: 20px auto 40px;
//   max-width: 80%;
// }

// .card-content {
//   display: flex;
//   max-width: 800px;
// }

// .text-content {
//   position: relative;
// }

// .text-content h2,
// .text-content h6 {
//   text-align: center;
// }

// .text-content ul {
//   list-style: none;
//   border-left: 2px solid grey;
//   padding-left: 20px;
//   margin: 0;
// }

// .text-content ul li {
//   position: relative;
//   padding-left: 10px;
// }

// .text-content ul li::before {
//   content: ".";
//   position: absolute;
//   left: -20px;
//   top: 50%;
//   width: 10px;
//   height: 2px;
//   transform: translateY(-50%);
// }

// .text-content ul li:first-child::before,
// .text-content ul li:last-child::before {
//   background: transparent;
// }

.card-content img {
  float: right;
  max-width: 40%;
  height: auto;
}
