* {
margin: 0 auto;
box-sizing: border-box;
}

body {
    background: #fef7ec;
}
/*mobile first*/
header {
    width: auto;
    height: 50px;
}

/* obs ska läggas till fler rubriker här men lägger enbart till img nu så jag har den klar*/
#hero-section {
    width: 100%;
    height: auto;
}


.hero-img-container {
width: 100%;
height: 250px;
}

.hero-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(https://cdn.discordapp.com/attachments/1166415781282717879/1167461961546600468/midtards_banner_for_symbolizing_new_fresh_and_look_here_group_o_9cba5b3a-6f98-4190-a71d-3c9399509921.png?ex=654e36ae&is=653bc1ae&hm=2e91b05e4775d8fc84ff1c600ae2455966b6cf3df029172a388415d422493022&);
}

.hero-text-container {
    display: flex;
    flex-direction: row;
    color: white;
}


.hero-text-header {
display: flex;
}

.hero-text {

}

.hero-button {

}

