@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Header and secondary font copy paste i HTML:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nobile:ital,wght@1,400;1,500;1,700&family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">*/
/*Fonts*/
/*Colors*/
/*Dot colors*/
/*Members background color*/
* {
  margin: 0 auto;
  box-sizing: border-box;
}

/*tillfälligt tills nav*/
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 83px;
  padding: 5px;
  background-color: #FFF4DF;
  /*ta bort ovan sen inför merge*/
}

body {
  background-color: #FEF7EC;
}

.hero-content {
  width: 100%;
  height: 10rem;
}
.hero-content .hero-img-container {
  width: 100%;
  height: 100%;
  align-items: center;
  background-size: cover;
  background-image: url(nyheter-img/hero-shadow-img.png);
}
.hero-content .hero-text-container {
  display: flex;
  flex-direction: row;
  color: #FFF4DF;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero-content .hero-text-header {
  display: flex;
}
.hero-content .hero-text {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  font-size: small;
}
.hero-content .hero-text .hero-text-color {
  color: #FFF4DF;
}
.hero-content .hero-button {
  background-color: #F9E7A4;
  color: #470B00;
  font-family: "Poppins", sans-serif;
  margin: inherit;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

h2 {
  font-family: "Nobile", sans-serif;
  font-size: xx-large;
  padding: 1rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

p {
  font-family: "Poppins", sans-serif;
  color: #470B00;
}

#news-section {
  height: auto;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#news-section .news-section-background {
  width: 95%;
  background-color: #16262B;
  border-radius: 1rem;
}

.news-header-info {
  display: flex;
  flex-direction: row;
  /* margin: 1rem; */
  /* margin-bottom: 2rem; */
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.news-header-info .dot-veg {
  font-family: "Material Symbols Outlined";
  color: #98BE6F;
  font-size: smaller;
}
.news-header-info .dot-meat {
  font-family: "Material Symbols Outlined";
  color: #E5712A;
  font-size: smaller;
}
.news-header-info .dot-pork {
  font-family: "Material Symbols Outlined";
  color: #F3C912;
  font-size: smaller;
}
.news-header-info .dot-chicken {
  font-family: "Material Symbols Outlined";
  color: #E52A2A;
  font-size: smaller;
}
.news-header-info .dot-fish {
  font-family: "Material Symbols Outlined";
  color: #2A8BE5;
  font-size: smaller;
}
.news-header-info .dot-text {
  font-size: 12px;
  color: #FFF4DF;
}

#card-JK {
  width: 80%;
}

.profile-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #FEF7EC;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.profile-img-container {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2D5653; /*måste ändra så att den ligge specifikt för detta card sen*/
  flex-direction: row;
  align-items: flex-start;
}

.profile-img {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.profile-text-container {
  width: 100%;
  background-color: #FEF7EC; /*måste ändra så att den ligge specifikt för detta card sen*/
  font-size: 10px;
}

.profile-text-content {
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
}

.offer-container {
  width: 100%;
  height: auto;
  background-color: #FEF7EC;
  padding: 10px;
  font-size: smaller;
  border-radius: 0 0 5px 5px;
  margin-bottom: 1rem;
}

.offer-color-red {
  color: #C60000;
}

.card-button {
  display: flex;
  background-color: #F9E7A4;
  color: #470B00;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  font-size: medium;
  font-weight: 600;
  padding: 5px;
  margin-top: 10px;
}

/*space mellan bilderna så bakgrunden syns*/
.news-img-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}
.news-img-container .news-img-one {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.news-img-container .news-img-two {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.news-img-container .news-img-three {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.news-img-container .news-img-four {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.news-img-container .news-img-one-content, .news-img-container .news-img-two-content, .news-img-container .news-img-three-content, .news-img-container .news-img-four-content {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=nyheter.css.map */