@import "reset";
@import "primary";

* {
    margin: 0 auto;
    box-sizing: border-box;
}
/*tillfälligt tills nav*/
header {
    width: auto;
    height: 50px;  
}
body {
background-color: $mainBackgroundColor;
}
#hero-section {
   
}
.hero-content {
    width: 100%;
    height: 10rem;

    .hero-img-container {
        width: 100%;
        height: 100%;
        align-items: center;
        background-size: cover;
        background-image: url(nyheter-img/hero-shadow-img.png);
    }
    

    .hero-text-container {
        display: flex;
        flex-direction: row;
        color: #FFF4DF;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .hero-text-header {
        display: flex;
        }
        
        
        .hero-text {
        display: flex;
        flex-wrap: wrap;
        
        .hero-text-color {
            color: $headerFontColor;
        }
        }
        
        
        
        
        .hero-button {
            background-color: $buttonsColor;
            color: $primaryFontColor;
            font-family: $secondary-font;
        }
}



h2 {
    font-family: $header-font;
    font-size: xx-large;
    padding: 1rem;
}

h3 {
    font-family: $secondary-font;
}
p {
    font-family: $secondary-font;
    color: $primaryFontColor;
}



#news-section {
    border: solid 2px;
    height: auto;
    width: 90vw;
    margin-top: 20px;
    background-color: $cardBackgroundColor;
}


.news-header-info {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-between;

    .dot-veg {
        font-family: 'Material Symbols Outlined';
        color: yellowgreen;
        font-size: smaller;
    }
    .dot-meat {
        font-family: 'Material Symbols Outlined';
        color: red;
        font-size: smaller;
    }
    .dot-pork {
        font-family: 'Material Symbols Outlined';
        color: yellow;
        font-size: smaller;
    }
    .dot-chicken {
        font-family: 'Material Symbols Outlined';
        color: red;
        font-size: smaller;
    }
    .dot-fish {
        font-family: 'Material Symbols Outlined';
        color: blue;
        font-size: smaller;
    }
    .dot-text {
        font-size: 8px;
        color: $headerFontColor;
    }
}

#card-JK {
    border:solid 1px;
    width: 80vw;
}


.profile-container {
    height:100px;
    display: flex;
    flex-direction: row;
}


.profile-img-container {
    width: 100%;
    padding: 10px;
    background-color: $joesKitchen; /*måste ändra så att den ligge specifikt för detta card sen*/
}


.profile-img{
    height: 100%;
    border: solid 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 83px;
}


.profile-text-container {
    width: 100%;
    background-color: $cardColor; /*måste ändra så att den ligge specifikt för detta card sen*/
}


.profile-text-content {
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}


.offer-container {
width: 100%;
height: auto;
border: solid 1px;
background-color: $cardColor;
}


.offer-color-red {
    color: $redColor;
}


.card-button {
    display: flex;
    background-color: $buttonsColor
}
/*space mellan bilderna så bakgrunden syns*/
.news-img-container {
    width: 100%;
    height:100px;
    display: flex;
    flex-direction: row;
}


/*.news-img-one {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(https://cdn.discordapp.com/attachments/1166343969932857446/1168951572756185128/cajun_special_4.png?ex=6553a1fd&is=65412cfd&hm=c245bc3f79bc715c5f42e21a301f1833701cf173c8860c98ba3c9ff286cf0910&);
}


.news-img-two {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(https://cdn.discordapp.com/attachments/1166343969932857446/1168951571833421895/cajun_special_2.png?ex=6553a1fc&is=65412cfc&hm=6ad7a41c290f5130be74297ba94e5b35c9c5eb2d6e0f91575ff9ce4b7327efee&);
}
.news-img-three {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(https://cdn.discordapp.com/attachments/1166343969932857446/1168951572282232882/cajun_special_3.png?ex=6553a1fc&is=65412cfc&hm=61b33812e873009461681e59287d18521e2ea4839ca88eccb8e7cbeacd5cc671&);
}
.news-img-four {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(https://cdn.discordapp.com/attachments/1166343969932857446/1168951571212681288/cajun_special_1.png?ex=6553a1fc&is=65412cfc&hm=5b4ef74a6a9ab238940433b77f2210d2d604eece60995de84bc076f4aaed7cf4&);
}
*/
