/*Header and secondary font copy paste i HTML:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nobile:ital,wght@1,400;1,500;1,700&family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">*/


/*Fonts*/
$header-font: 'Nobile', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$headerFontColor: #FFF4DF;
$primaryFontColor: #470B00;
$redColor: #C60000;


/*Colors*/
$mainBackgroundColor: #FEF7EC;
$cardBackgroundColor: #16262B;
$cardColor: #FEF7EC;
$navColor: #FEF7EC;
$footerColor: #212121;
$buttonsColor: #F9E7A4;


/*Members background color*/
$joesKitchenLogo: #9BAA8C;
$joesKitchen: #2D5653;
$cesans: #A47355;
$chapohFoo: #D05F2D; 
$charrata: #1E4B38;
$votcan: #8FBA61;
$meanBurgers: #6B8F9B;
$ciaco: #841015;
$gyroTruck: #D9913F;
$nachoMania: #9A3B0A;