@import "reset";
@import "primary";
@import "mixinss";

* {
    margin: 0 auto;
    box-sizing: border-box;
}

/* Header */
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 83px;
    padding: 5px;
    background-color: $navColor;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 68px;
        height: 68px;
        object-fit: cover;
    }

    .nav-bar {
        display: flex;
        align-items: center;
        height: fit-content;
        background-color: $navColor;
        padding-right: 20px;


        .drop-btn {
            color: $primaryFontColor;
            padding: 8px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
        .dropdown {
            position: relative;
            z-index: 1;
        }
    
        .nav-links {
            display: none;
        }
    
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $cardColor;
            right: 0;
            width: 150px;
            border-radius: 5px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            font-size: 16px;
            font-family: $secondary-font;
        }
    
        ul {
            padding: 0;
        }
    
        li {
            list-style: none;
        }
    
        .dropdown-content a {
            display: block;
            color: $primaryFontColor;
            font-size: 18px;
            padding: 12px 16px;
            text-decoration: none;
    
            a:hover {
                background-color: #f1f1f1;
            }
        }
    
        .dropdown:hover .dropdown-content {
            display: block;
        }
    
        .dropdown:hover .drop-btn {
            background-color: bisque;
        }

        @include devices($desktop) {
            .dropdown {
                display: none;
            }
        
            .nav-links {
                display: block;
                width: 500px;
            }
        
            .nav-links a {
                text-decoration: none;
                color: $primaryFontColor;
                font-size: 18px;
                font-family: $secondary-font;
            }
        
            li {
                transition: border 183ms ease-in-out, border-radius 183ms ease-in-out;
            }
    
            li a {
                text-decoration: none;
                color: $primaryFontColor;
                font-size: 18px;
                font-family: $secondary-font;
            }
              
            // li:hover {
            //     border: 2px solid rgba(252, 151, 104, 1);
            //     border-radius: 4px;
            // }
        
            .nav-link-list {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

/* Main */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 345px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)), url(/images/hero-img.png);

        @include devices($desktop) {
            flex-direction: row;
            height: 600px;
        }

        .hero-title {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-shadow: 1px 1px 2px $primaryFontColor;

            h1 {
                font-size: 37px;
                font-family: $header-font;
                font-weight: 600;
                color: $headerFontColor;
                text-indent: -10%;
            }

            h2 {
                font-size: 32px;
                font-family: $secondary-font;
                font-weight: 600;
                color: $headerFontColor;
                text-indent: 10%;
            }
            
            @include devices($desktop) {
                h1 {
                    font-size: 80px;
                }

                h2 {
                    font-size: 60px;
                }
            }
        }

        .hero-text {
            width: 80%;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            font-family: $secondary-font;
            color: $headerFontColor;
            line-height: 1.6;
        }

        @include devices($desktop) {
            .hero-text {
                width: 600px;
                font-size: 30px;
            }
        }
    }
}

.business-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
    padding: 50px 20px 50px 20px;
    background-color: $mainBackgroundColor;

    .business-text-container {
        display: flex;
        justify-content: center;
        width: 90%;
        line-height: 1.8;
        font-family: $secondary-font;
        font-weight: 600;
        font-size: 20px;
        color: $primaryFontColor;
        margin-bottom: 30px;
        border-bottom: solid;

        @include devices($desktop) {
            font-size: 38px;
        }
    }

    .business-img-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;
        width: 100%;

        .business-logo {
            width: 320px;
            height: 320px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            transition: transform .2s;
        }

        .business-logo:hover {
            transform: scale(1.1);
        }

        #item1 {
            background-size: 220px 220px;
            background-image: url(Prislistaimg/Joes_louisiana_kitchen.png);
            background-color: $joesKitchenLogo;
        }

        #item2 {
            background-size: 280px 280px;
            background-image: url(Prislistaimg/Charcutcut.png);
            background-color: $charrataLogo;
        }

        #item3 {
            background-size: 280px 280px;
            background-image: url(Prislistaimg/medlem_14.png);
            background-color: $chapohFooLogo;
        }

        @include devices($desktop) {
            .business-logo {
                width: 350px;
                height: 350px;
            }

            #item1 {
                background-size: 250px 250px;
            }

            #item2, #item3 {
                background-size: 280px 280px;
            }
        }
    }
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $footerColor;
    color: $headerFontColor;
    font-family: $secondary-font;
    
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 5px;

        .footer-list-containers {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-top: 30px;
        }

        .footer-contact-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 450px;
        }

        .footer-list-content {
            display: flex;
            flex-direction: column;
            line-height: 1.6;
            width: 180px;
            padding: 10px;

            h4 {
                font-size: 18px;
                font-weight: 600;
            }

            .list-item {
                font-size: 16px;
                color: $headerFontColor;
                text-decoration: none;
                padding: 3px;
            }
        }

        .contact {
            flex-direction: column;
            padding: 5px;
            width: 190px;
        }
        
        .footer-socials-list {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 200px;
            padding: 20px;
            
            .socials-icon {
                font-size: 25px;
                color: $headerFontColor;
            }
        }
    }
    .footer-copyright {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 20px;
    }
}
@include devices($desktop) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $footerColor;
        color: $headerFontColor;
        font-family: $secondary-font;
        
        .footer-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            padding: 5px;
            margin-top: 10px;
    
            .footer-list-containers {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
    
            .footer-contact-container {
                flex-wrap: wrap;
                justify-content: space-between;
                max-width: 450px;
            }
            
            .footer-socials-list {
                justify-content: space-around;
                align-items: center;
                width: 200px;
                padding: 20px;
                
                .socials-icon {
                    font-size: 25px;
                    color: $headerFontColor;
                }
            }
        }
        .footer-copyright {
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 20px;
        }
    }
}
