@import "reset" ;
@import "primary" ;
@import "mixinss" ;
@import "nav-footer" ;

* {
    /* margin: 0 auto; */
    box-sizing: border-box;
}
body {
    /* display: flex; */
    flex-direction: column;
    font-family: $secondary-font;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
body::before {
    content: ""; /* creates additional content before or after the content of element. */
    opacity: 60%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: -1;
}




  /* Main Content Mobile Style*/
.sectionA {
    display: flex;
    flex-direction: column;
    background-image: url(../aboutimg/officespace.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $mainBackgroundColor;
    height: 50vw;
}

.officepic-container {
    background-color: $colorGradiant;
    align-items: left;
    height: 100%;
    width: fit-content;
    margin-right: 50%;
    top: 0;
}
/* .omossklick{
    height: auto;
    padding-top: 30%;
} */

.omoss {

    font-size: 5vw;
    font-family: $header-font;
    margin-left: 25px;
    margin-top: 35%;
    margin-bottom: 10px; 
    padding-left: 15px;
    padding-right: 15px;
}

.klick {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    
    height: 30px;
    
}

.klicka-button {
    display: inline-block;
    padding: 5px;
    background-color: $pigDot;
    color:$boxShadow;
    text-decoration: none;
    border: 1px solid $navColor;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s;
    
}

.klicka-button:hover {
    background-color: $pigDot;
    color:$cesansLogo;
}

.sectionB {
    background-color:$mainBackgroundColor;
    color: $primaryFontColor;
    display: flex;
    justify-content: space-between;
    background-color: none;
}

h3.headerOmOss {
    margin-top: 35px;
    font-family: $header-font;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}



.longText {
    font-family: $secondary-font;
    text-align: justify;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    text-indent: 10px;
}

.sectionBright {
    margin-bottom: 20px;
}
.groupphoto {
    display: flex;
    height: 200px;
    width: 350px;
    box-shadow: 0px 0px 10px $boxShadow(0, 0, 0, 0.5);
    margin-left: 20px;
}
/* Main Content Desktop media */
@include devices($desktop) {

    .officepic-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        top: 0;
        
    }



    .omoss {
        /* margin-top: 20px;
        margin-bottom: 15px; */margin: 20px;

        
        padding-left: 65px;
        /* font-size: 5.3vw; */
    }

    .klick {


        height: 70px;
    }

    .klicka-button {
        margin-left: 0;
        padding: 15px;
        font-size: 22px;
        border-radius: 10px;
    }

    .sectionB {
        display: flex;
        background-color:$cardBackgroundColor;
        margin: 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        border-radius: 30px;
        font-size: 20px;
    }

    .leftRight {
        display: flex;
        justify-content: space-between;
        background-color:$headerFontColor;
        margin-top: 90px;
        margin-bottom: 90px;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 30px;
        padding-top: 70px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .sectionBleft {
        flex: 1;
        width: 50%;
        margin-right: 20px;
    }

    .sectionBright {
        padding: 10px;
        width: 50%;
    }

    .longText {
        text-align: justify;
        margin-top: 15px;
        margin-bottom: 10px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        text-indent: 10px;
    }

    h3.headerOmOss {

        margin: 0;
    }

    .groupphoto {
        margin-top: 20px;
        margin-left: 35px;
        height: 20vw;
        width: 26vw;
    }
}


