@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Header and secondary font copy paste i HTML:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nobile:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
*/
/*Fonts*/
/*Colors*/
/*Dot colors*/
/*Members background color*/
/*@import "nav-footer";*/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.hero-bg {
  display: flex;
  flex-direction: row;
  align-items: left;
  background-image: url(/expo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  background-color: rgba(34, 27, 27, 0.6);
  text-align: left;
  width: 50%;
}

.hero-heading {
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
}

.hero-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  background-color: #f3c912;
  color: #fff;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.button:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: black;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
  padding: 0.8rem;
}

/* main event för mobil*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 5px;
  margin: 20px auto 40px;
  width: 100%;
}

.container-heading {
  display: none;
}

.event {
  color: rgb(48, 47, 47);
  width: 100%;
  margin-top: 1rem;
}

.event-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 19px;
  flex-wrap: wrap;
  background-color: #fff4df;
  margin: 6px;
  box-shadow: 4px 4px 15px lightgrey;
  width: 96%;
}

.event-heading {
  font-size: 1.5rem;
  margin: 1rem;
}

.sub-heading {
  font-size: 0.8rem;
}

ul {
  margin: 1rem;
  line-height: 1.5;
  list-style: unset;
}

.card-img-container {
  width: 100%;
  margin-bottom: 1.3rem;
  display: flex;
  justify-content: center;
}

.card-img {
  width: 90%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  margin-top: 1.5rem;
}

.event-kcontent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.event-list,
ol {
  line-height: 1.5rem;
  text-decoration: underline;
  list-style: revert;
}

.calender-container {
  background-color: #fff4df;
  border-radius: 10px;
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 4px 4px 15px lightgrey;
}

.calender-heading {
  text-align: center;
  color: #5b5b5b;
  margin: 1rem;
  font-size: 1.5rem;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  color: black;
  margin-top: 0;
}

.weekday-special {
  color: #17a1fa;
}

.weeks {
  display: flex;
  justify-content: space-around;
}

.weeks .day:nth-child(3),
.weeks .day:nth-child(4),
.weeks .day:nth-child(5) {
  color: black;
}

.weeks .day:nth-child(6),
.weeks .day:nth-child(7) {
  color: #17a1fa;
}

.day {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #5b5b5b;
  text-align: center;
  line-height: 20px;
  margin: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.day-special {
  color: black;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin: 7px;
}

.day-first {
  color: #5b5b5b;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin: 7px;
}

.day:hover {
  background-color: #ffab78;
}

.day-special:hover {
  background-color: #ffab78;
}

.day-first:hover {
  background-color: #ffab78;
}

@media screen and (min-width: 720px) {
  .hero {
    display: flex;
    align-items: center;
    background-image: url(/expo.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
  }
  .hero-bg {
    display: flex;
    flex-direction: row;
    align-items: left;
    background-image: url(/expo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .hero-heading {
    font-size: 3rem;
    margin: 0;
    text-align: left;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(34, 27, 27, 0.6);
    text-align: left;
    width: 50%;
  }
  .hero-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .button {
    display: inline-block;
    background-color: #f3c912;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    margin-top: 15px;
    transition: 0.3s;
  }
  .button:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: black;
  }
  /*main*/
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(12, 32, 24);
    color: #fff;
    padding: 2rem;
    margin: 20px auto 40px;
    max-width: 80%;
  }
  .container-heading {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0;
    display: inline;
  }
  .event {
    background-color: #e3dbdb;
    padding: 1.5rem;
    color: rgb(48, 47, 47);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .card-img-container {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img {
    float: right;
    width: 100%;
    height: auto;
  }
  .event-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    background: unset;
    box-shadow: none;
    margin-left: -8rem;
  }
  .sub-heading {
    font-size: 0.8rem;
    padding: 0;
    margin: 1rem;
  }
  .event-heading {
    font-size: 1.5rem;
    padding: 0;
    margin-top: 0.8rem;
  }
  .event-list {
    margin: 0;
    line-height: 1.8rem;
    text-decoration: underline;
  }
  .calender-container {
    background-color: #470b00;
    width: 30%;
    padding: 2rem;
    margin: auto;
    border-radius: unset;
  }
  .calender-heading {
    text-align: center;
    color: #5b5b5b;
    margin-top: 0;
    font-size: 1.5rem;
  }
  .weekdays {
    display: flex;
    justify-content: space-around;
    color: #5b5b5b;
    margin-top: 0;
  }
  .weekday-special {
    color: #17a1fa;
  }
  .weeks {
    display: flex;
    justify-content: space-around;
  }
  .weeks .day:nth-child(3),
  .weeks .day:nth-child(4),
  .weeks .day:nth-child(5) {
    color: white;
  }
  .weeks .day:nth-child(6),
  .weeks .day:nth-child(7) {
    color: #17a1fa;
  }
  .day {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #5b5b5b;
    text-align: center;
    line-height: 20px;
    margin: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .day-special {
    color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 7px;
  }
  .day-first {
    color: #5b5b5b;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 7px;
  }
  .day:hover {
    background-color: #ffab78;
  }
  .day-special:hover {
    background-color: #ffab78;
  }
  .day-first:hover {
    background-color: #ffab78;
  }
}/*# sourceMappingURL=event.css.map */