/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Header and secondary font copy paste i HTML:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nobile:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
*/
/*Fonts*/
/*Colors*/
/*Dot colors*/
/*Members background color*/
/*Header and secondary font copy paste i HTML:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nobile:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
*/
/*Fonts*/
/*Colors*/
/*Dot colors*/
/*Members background color*/
/* Header */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;
  padding: 5px;
  background-color: #fef7ec;
}
.header-section .nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .header-section .nav-logo-container {
    transition: transform 0.2s;
  }
  .header-section .nav-logo-container:hover {
    transform: scale(1.2);
  }
}
.header-section .nav-logo {
  width: 68px;
  height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-section .nav-bar {
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fef7ec;
  padding-right: 20px;
}
.header-section .nav-bar .drop-btn {
  color: #470b00;
  padding: 8px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}
.header-section .nav-bar .drop-btn:hover {
  transform: scale(1.2);
}
.header-section .nav-bar .dropdown {
  position: relative;
  z-index: 1;
}
.header-section .nav-bar .nav-links {
  display: none;
}
.header-section .nav-bar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fef7ec;
  right: 0;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.header-section .nav-bar ul {
  padding: 0;
}
.header-section .nav-bar li {
  list-style: none;
}
.header-section .nav-bar .dropdown-content a {
  display: block;
  color: #470b00;
  font-size: 18px;
  padding: 12px 16px;
  text-decoration: none;
}
.header-section .nav-bar .dropdown:hover .dropdown-content {
  display: block;
}
.header-section .nav-bar .dropdown:hover .drop-btn {
  background-color: #fef7ec;
}
@media screen and (min-width: 720px) {
  .header-section .nav-bar .dropdown {
    display: none;
  }
  .header-section .nav-bar .nav-links {
    display: block;
    width: 600px;
  }
  .header-section .nav-bar .nav-links a {
    text-decoration: none;
    color: #470b00;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }
  .header-section .nav-bar .nav-links a.active {
    text-decoration: underline;
  }
  .header-section .nav-bar li {
    transition: transform 0.2s ease;
  }
  .header-section .nav-bar li:hover {
    transform: scale(1.1);
    text-decoration: underline;
    font-weight: 500;
  }
  .header-section .nav-bar li a {
    text-decoration: none;
    color: #470b00;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }
  .header-section .nav-bar .nav-link-list {
    display: flex;
    justify-content: space-around;
  }
}

/* Footer */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: #fff4df;
  font-family: "Poppins", sans-serif;
}
.footer-container .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 5px;
}
.footer-container .footer-content .footer-list-containers {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 30px;
}
.footer-container .footer-content .footer-contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
}
.footer-container .footer-content .footer-list-content {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  width: 180px;
  padding: 10px;
}
.footer-container .footer-content .footer-list-content h4, .footer-container .footer-content .footer-list-content .h4-footer-contact {
  font-size: 18px;
  font-weight: 600;
}
.footer-container .footer-content .footer-list-content .list-item {
  font-size: 16px;
  color: #fff4df;
  text-decoration: none;
  padding: 3px;
  transition: transform 0.2s ease;
}
.footer-container .footer-content .footer-list-content .list-item:hover {
  transform: scale(1.1);
  text-decoration: underline;
  font-weight: 500;
}
.footer-container .footer-content .contact {
  flex-direction: column;
  padding: 5px;
  width: 190px;
}
.footer-container .footer-content .footer-socials-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  padding: 20px;
}
.footer-container .footer-content .footer-socials-list .socials-icon {
  font-size: 25px;
  color: #fff4df;
  transition: transform 0.2s ease;
}
.footer-container .footer-content .footer-socials-list .socials-icon:hover {
  transform: scale(1.4);
}
@media screen and (min-width: 720px) {
  .footer-container .footer-content {
    margin-top: 10px;
  }
  .footer-container .footer-content .footer-list-containers {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.footer-container .footer-copyright {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
}

* {
  margin: 0 auto;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img-medlemmar/hero-medlemslista.png);
  height: auto;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-position: center center;
}
.hero-image .hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 600px;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
.hero-image .hero-title {
  text-align: center;
  color: antiquewhite;
  font-size: 80px;
  font-family: "nobile", sans-serif;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
}
.hero-image .hero-text {
  color: antiquewhite;
  font-size: 30px;
  font-family: "poppins", sans-serif;
  max-width: 60%;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  margin: 15px;
}
@media screen and (max-width: 420px) {
  .hero-image {
    height: 500px;
  }
  .hero-image .hero-title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
  }
  .hero-image .hero-text {
    font-size: 20px;
    text-align: center;
    margin: 15px;
    min-width: 90%;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw;
  background-color: #16262B;
  margin: 35px;
  padding: 40px;
  border-radius: 10px;
  gap: 20px;
  row-gap: 50px;
}
.container .card-box .card {
  width: 250px;
  background-color: #FEF7EC;
  border-radius: 10px;
  margin: 10px;
  margin: auto;
  display: inline-block;
}
.container .card-box .image {
  height: 260px;
  background-size: cover;
  margin: 15px;
  border-radius: 10px;
  background-position: center;
}
.container .card-box .card-1 {
  background-image: url(../img-medlemmar/Joes_louisiana_kitchen.png);
  background-color: #9BAA8C;
}
.container .card-box .card-2 {
  background-image: url(../img-medlemmar/cesans.png);
}
.container .card-box .card-3 {
  background-image: url(../img-medlemmar/charrata.png);
}
.container .card-box .card-4 {
  background-image: url(../img-medlemmar/ciaco.png);
}
.container .card-box .card-5 {
  background-image: url(../img-medlemmar/mean_burgers.png);
}
.container .card-box .card-6 {
  background-image: url(../img-medlemmar/Gyro_truck.png);
}
.container .card-box .card-7 {
  background-image: url(../img-medlemmar/chapoh-foo.png);
}
.container .card-box .card-8 {
  background-image: url(../img-medlemmar/votcan.png);
}
.container .card-box .card-9 {
  background-image: url(../img-medlemmar/Nacho_mania.png);
}
.container .card-box .content {
  margin: 10px;
  text-align: center;
}
.container .card-box .content strong {
  font-weight: bold;
}/*# sourceMappingURL=medlemmar.css.map */