@import "reset";
@import "primary";
@import "mixinss";
@import "nav-footer";


* {
    margin: 0 auto;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)), url(../img-medlemmar/hero-medlemslista.png);
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-position: center center;

    .hero-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        min-height: 600px;
        justify-content: center;
        width: fit-content;
    }

    .hero-title {
       text-align: center;
       color: antiquewhite;
       font-size: 80px;
       font-family: 'nobile', sans-serif;
       text-shadow: 1px 1px 2px black;
       font-weight: bold;
    }

    .hero-text {
       color: antiquewhite;
       font-size: 30px;
       font-family: 'poppins', sans-serif;
       max-width: 60%;
       text-align: center;
       text-shadow: 1px 1px 2px black;
       margin: 15px;
    }

    @media screen and (max-width: 420px) {
        height: 500px;
        
        
        .hero-title {
            font-size: 50px;
            text-align: center;
            font-weight: bold;
        }
    
        .hero-text {
            font-size: 20px;
            text-align: center;
            margin: 15px;
            min-width: 90%;
        }
    }  
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 60vw;
        background-color: #16262B;
        margin: 35px;
        padding: 40px;
        border-radius: 10px;
        gap: 20px;
        row-gap: 50px;
    

        .card {
           width: 250px;
           background-color: #FEF7EC;
           border-radius: 10px;
           margin: 10px;
           margin: auto;
           display: inline-block;
        }

        .image {
           height: 260px;
           background-size: cover;
           margin: 15px;
           border-radius: 10px;
           background-position: center;
        }

        .card-1 {
           background-image: url(../img-medlemmar/Joes_louisiana_kitchen.png);
           background-color: #9BAA8C;
        }

        .card-2 {
           background-image: url(../img-medlemmar/cesans.png);
        }

        .card-3 {
           background-image: url(../img-medlemmar/charrata.png);
        }

        .card-4 {
           background-image: url(../img-medlemmar/ciaco.png);
        }

        .card-5 {
           background-image: url(../img-medlemmar/mean_burgers.png);
        }

        .card-6 {
           background-image: url(../img-medlemmar/Gyro_truck.png);
        }

        .card-7 {
           background-image: url(../img-medlemmar/chapoh-foo.png);
        }

        .card-8 {
           background-image: url(../img-medlemmar/votcan.png);
        }

        .card-9 {
           background-image: url(../img-medlemmar/Nacho_mania.png);
        }


        .content {
           margin: 10px;
           text-align: center;
        

           strong {
              font-weight: bold;
            }
        }
    }
}
