/*Header and secondary font copy paste i HTML:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nobile:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
*/

// Mixin dimensions
$mobile: 390px;
$mobileLarge: 980px;
$desktop: 720px;
$desktopLarge: 1430px;

/*Fonts*/
$header-font: "Nobile", sans-serif;
$secondary-font: "Poppins", sans-serif;
$headerFontColor: #fff4df;
$primaryFontColor: #470b00;
$redColor: #c60000;

/*Colors*/
$mainBackgroundColor: #fef7ec;
$cardBackgroundColor: #16262b;
$cardColor: #fef7ec;
$navColor: #fef7ec;
$footerColor: #212121;
$buttonsColor: #f9e7a4;
$boxShadow: #000000; //42% på shadow.
$reklamBild: #2a2929;
$colorGradiant: rgba(33, 33, 33, 0.79);

/*Dot colors*/
$vegDot: #98be6f;
$meatDot: #e5712a;
$pigDot: #f3c912;
$chickenDot: #e52a2a;
$fishDot: #2a8be5;

/*Members background color*/
$joesKitchenLogo: #9baa8c;
$joesKitchen: #2d5653;
$cesans: #a47355;
$cesansLogo: #161b1d;
$chapohFoo: #d05f2d;
$chapohFooLogo: #c34a2f;
$charrata: #1e4b38;
$charrataLogo: #0a0e0f;
$votcan: #8fba61;
$votcanLogo: #10191b;
$meanBurgers: #6b8f9b;
$meanBurgersLogo: #0a252e;
$ciaco: #841015;
$ciacoLogo: #110c10;
$gyroTruck: #d9913f;
$gyroTruckLogo: #0e1216;
$nachoMania: #9a3b0a;
$nachoManiaLogo: #c36314;
$profileBorder: #ffab78;
$reklam: #71848a;
$reklamLogo: #16262b;
