@import "reset";
@import "variables";
@import "mixins";
@import "carousel";

* {
    margin: 0 auto;
    box-sizing: border-box;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 83px;
    padding: 5px;
    background-color: #FFF4DF;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 68px;
        height: 68px;
        object-fit: cover;
    }

    .nav-bar {
        display: flex;
        align-items: center;
        height: fit-content;
        background-color: #FFF4DF;
        padding-right: 20px;


        .drop-btn {
            color: black;
            padding: 8px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
        .dropdown {
            position: relative;
            z-index: 1;
        }
    
        .nav-links {
            display: none;
        }
    
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            right: 0;
            width: 120px;
            border-radius: 5px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
    
        ul {
            padding: 0;
        }
    
        li {
            list-style: none;
        }
    
        .dropdown-content a {
            display: block;
            color: black;
            font-size: 18px;
            padding: 12px 16px;
            text-decoration: none;
    
            a:hover {
                background-color: #f1f1f1;
            }
        }
    
        .dropdown:hover .dropdown-content {
            display: block;
        }
    
        .dropdown:hover .drop-btn {
            background-color: bisque;
        }

        @include devices($desktop) {
            .dropdown {
                display: none;
            }
        
            .nav-links {
                display: block;
                width: 500px;
            }
        
            .nav-links a {
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        
            li {
                transition: border 183ms ease-in-out, border-radius 183ms ease-in-out;
            }
    
            li a {
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
              
            // li:hover {
            //     border: 2px solid rgba(252, 151, 104, 1);
            //     border-radius: 4px;
            // }
        
            .nav-link-list {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 345px;
        height: auto;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)), url(/images/hero-img.png);

        .hero-title {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 15px;

            h1 {
                font-size: $h1-size;
                font-family: $nobile;
                font-weight: 500;
                color: #FFF4DF;
            }

            h2 {
                font-size: $h2-size;
                font-family: $poppins;
                font-weight: 600;
                color: #FFF4DF;
                text-indent: 30%;
            }
        }

        .hero-text {
            width: 70%;
            text-align: center;
            font-size: 16px;
            font-family: $poppins;
            color: #FFF4DF;
            line-height: 25px;
        }
    }
}